body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../gorseller/arkaplanWeb.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}