body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../gorseller/IletisimArkaPlan.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px rgb(255, 255, 255) solid;
}

.navbar .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font: bold;
    /* Renk Ayarı */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    margin-top: 20px;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container textarea,
.container input[type="tel"],
.container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container textarea {
    resize: vertical;
}

.container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    background-color: #45a049;
}

.container input[type="file"] {
    margin-top: 5px;
}

.container label input[type="checkbox"] {
    margin-left: 5px;
}