body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../gorseller/ozgecmisArkaPlan.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    border-bottom: 3px rgb(117, 162, 34) solid;
}


.navbar .navbar-nav .nav-link {
    color: rgb(117, 162, 34);
    font: bold;

}